html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffffa;
    width: 100vw;
}

h1,h2,h3,h4,p {
    color: #515052;
    text-align: center;
}

a {
    text-decoration: none;
}

.index {
    width: 100%;
    background-color: #413ef4;
}

.index a {
    color: #fffffa;
}

.index a:hover {
    color: #fffffa;
    text-decoration: underline;
}

header {
    background-color: #fffffa;
    max-width: 100%;
    padding: 1% 0;  
    display: flex;
    justify-content: space-around;
    align-items: center; 
    position: sticky;
	top: 0;
    z-index: 9;
}

.logo img {
    max-width: 200px;
    transition: all 0.4s ease; 
    transform: translateY(0); 
}

.logo img:hover {
    transition: all 0.4s ease; 
    transform: scale(1.1); 
}

.menu {
    display: inline-flex;
}

.menu-title{
    display: none;
}

.menu a {
    color: #515052;
    font-size: 1.3em;
    font-weight: 500;
}

.menu > li {
    margin: 0 30px;
    padding: 5px 5px;
    transition: all 0.4s ease;
    transform: translateY(0); 
    z-index: 5;
}

.menu > li:hover {
    transition: all 0.4s ease; 
    transform: translateY(-5px); 
}

.menu > li:hover > a {
    color: #413ef4;    
}

.down-arrow {
    width: 25px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.down-arrow path {
	stroke: #333d37;
	fill: transparent;
	stroke-width: 2.5px;	
}

.menu  li:hover  .down-arrow path {
    stroke: #413ef4;    
}

.active-category {
    border-bottom: medium solid #413ef4;
}

.active-category > a { 
    color: #413ef4;
}

ul {
    list-style-type: none;
}

.dropdown{
    display: none;
    position: absolute;
    width: 120px;
    background-color: #fffffa;
    border-radius: 10px;
    padding-top: 10px;
    left: -10px;
}

.expand-categories:hover .dropdown{
    display: block;
}

.dropdown li{
    padding: 10px;
    border-radius: 10px;
}

.dropdown li:hover {
    background-color: #413ef4;
}

.dropdown li:hover > a {
    color: #fffffa;
}

.right-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.right-arrow path {
	stroke: #333d37;
	fill: transparent;
	stroke-width: 2px;	
}

.dropdown  li:hover  .right-arrow path {
    stroke: #fffffa;    
}

.man-expanded, .woman-expanded, .kids-expanded{
    display: none;
    position: absolute;
    margin-left: 120px;
    min-width: 200px;
    background-color: #fffffa;
    border-radius: 10px;
}

.dropdown a, .man-expanded a, .woman-expanded a, .kids-expanded a {
    font-size: 1.1em;
    font-weight: 500;
}

.man:hover .man-expanded, .woman:hover .woman-expanded, .kids:hover .kids-expanded{
    display:  block;
    margin-top: -35px;
    left: 0;
}

.profile img{
    width: 50px;
}

.profile:hover img{
    background-color: #d1d8ff;
    border-radius: 100%;
}

input, textarea{
    border: thin solid #413ef4;
    border-radius: 20px;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
}

.solid-btn{
    color: #fffffa;
    font-weight: 500;
    padding: 10px 30px 10px 30px;
    border-width: 0;
    border-radius: 30px;
    background-color:#413ef4;
    transition : 0.2s; 
    transform: translateY(0); 
    margin: 0px 20px 0px 20px;
}

.solid-btn:hover{
    background-color:#6563f6;
    transition : 0.2s; 
    transform : translateY(-6px);
}

.outline-btn{
    color: #fffffa;
    font-weight: 500;
    padding: 10px 30px 10px 30px;
    border-width: 3px;
    border-radius: 30px;
    border-color: #fffffa;
    border-style: solid;
    background-color:#ffffff00;
    transition : 0.3s; 
    transform: scale(1.1); 
    margin: 0px 20px 0px 20px;
}

.outline-btn:hover{
    color:#6563f6 ;
    background-color:#fffffa;
    transition : 0.3s; 
    transform : scale(1.3);
}

.banner{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: linear-gradient(0deg, hsla(241, 89%, 60%, 1) 0%, hsla(60, 100%, 99%, 1) 100%);
    align-items: center;
    justify-items: center;
    padding: 5%;
}

.banner h1{
    align-self: flex-end;
    text-align: center;
    font-size: 3em;
    grid-column: 1/2;
    grid-row: 1/2;
    color: #fffffa;
}

.banner p{
    text-align: center;
    font-size: 1.5em;
    grid-column: 1/2;
    grid-row: 2/3;
}

.banner img {
    max-width: 50%;
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 80px 0;
    transition: all 0.6s ease; 
    transform: translateY(0); 
}

.banner img:hover {
    transition: all 0.6s ease; 
    transform: scale(1.2); 
}

.banner button {
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 3/4;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

figure a{
    color: #565857;
    font-size: 1.3em;
}

.categories img{
    max-width: 400px;
    border-radius: 10px;
}

.categories img:hover{
    opacity: 70%;
}

.services {
    background-color: #c7cdedaa;
    padding-top: 50px;
}

.services img{
    max-width: 80px;
}

.newsletter, .pricetable{
    padding-top: 50px;
    width: 100%;
    align-items: center; 
    text-align: center;
}

.newsletter  p , .pricetable  p{
    color: #333d37;
    padding: 20px;
}

table{
    margin: 0 auto;
}

th{
    color: #6563f6;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

td:hover {
    background-color:#ddd;
}

.newsletter {
    display: block;
    width: 50%;
    margin: 50px auto;
    padding: 50px 10px 50px;
    border-radius: 20px;
    box-shadow: 0  0 20px 0  #e7e7e7;
}

.footer{
    background-color: #a5a6bc;
    width: 100%;
    padding-bottom: 20px;
    bottom: 0;
}

.footer h4, .footer li{
    text-align: left;
}

.footer h4, p, a, address{
    color: #fffffa;
    transition: all 0.3s ease;
    transform: translateX(0);
}

.footer h4:hover, a:hover, address:hover{
    color: #6563f6;
}

.footer h4:hover, .footer li:hover{
    transition: all 0.3s ease;
    transform: translateX(-5px);
}

.social ul{
    display: inline-flex;
    justify-content: flex-start;
}

.social img{
    max-width: 30px;
    margin: 15px 10px;
}

.social li{
    transition: all 0.3s ease;
    transform: scale(1);
}

.social li:hover{
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.authors p{
    color: #565857;
    padding: 10px;
}

.authors img{
    max-width: 100px;
}

.authors li{
    margin: 10px;
    padding: 30px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #b6b4b4;
}

.contact {
    padding: 10px 100px;
    
}

.contact p{
    color: #515052;
}

.contact legend{
    font-size: 1.3em;
    padding-top: 60px;
    color: #413ef4;
    font-weight: bold;
}

.contact fieldset {
    margin: 20px;
    padding: 0 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #b6b4b4;
    border-width: 0;
}

.contact input {
    display: flex;
    flex-direction: column;
}

.contact textarea{
    display: block;
}

.list-categories{
    display: flex;
    flex-direction: column;
}

.list-categories > img {
    position: relative;
    top: -120px;
}

.list-categories h1{
    color: #fffffa;
    font-size: 5em;
    position: relative;
    top: 400px;
    z-index: 5;
}

.list-categories .container{
    position: relative;
    bottom: 100px
}

.list-categories .container img{
    width: 400px;
    border-radius: 20px;
}

.list-categories .container img:hover{
    opacity: 70%;
}

.products-grid{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(620px, auto);
    align-items: center;
    justify-items: center;
}

.products{
    display: flex;
    flex-direction: column;
}

.products .tag{
    color: #fffffa;
    position: absolute;
    background-color: #413ef4;
    padding: 0 9px;
    font-size: small;
    border-radius: 20px;
    top: 10px;
    left: 10px;
}

.products a{
    margin: 0 auto;
}

.product-img{
    width: 99%;
    max-width: 400px;
    border-radius: 20px;
}

.products figcaption{
    text-align: center;
    font-weight: 600;
}

.products > p{
    color: #333d37;
}

.products .price, .product-page .price{
    font-weight: 600;
    font-size: 1.15em;
    color: #413ef4;
}

.price-before{
    color: #333d37;
    text-decoration:line-through;
    margin-right: 10px;
}

.products .prices{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rating{
    max-width: 64px;
    margin: 5px auto 10px;
}

.product-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 50px 100px;
}

.product-page article{
    margin-right: auto;
}

.left-arrow {
    width: 20px;
    height: 20px;
}

.left-arrow path {
	stroke: #333d37;
	fill: transparent;
	stroke-width: 2px;	
}

.product-page article h1, .product-page article h3, .product-page article h4, .product-page article p, .product-page article a{
    color: #333d37;
    text-align: left;
    padding-top: 10px;
}

.product-page article a:hover{
    color: #413ef4;
    margin-left: -10px;
}

.gallery img{
    max-width: 320px;
}

.product-page form{
    margin-top: 30px;
}

.product-page label{
    font-weight: 500;
    color: #515052;
}

select{
    color: #565857;
    font-size: medium;
    padding: 5px 20px;
    border-radius: 20px;
    border: solid #413ef4;
}

.product-info{
    list-style-type: disc;
    padding-left: 20px;
}

.reviews article{
    display: flex;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #b6b4b4;
}

.reviews main{
    margin-left: 30px;
}

.reviews main h4{
    padding-top: 0;
}

.reviews .avatar{
    max-width: 50px;
}

.related .product-img{
    max-width: 200px;
}

.related .products{
    margin-top: 10px;
}

.related .products button{
    margin: 0 auto;
}

.options{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.sign-up input[type="checkbox"], .sign-up input[type="radio"]{
    margin: 0 10px;
}

.sign-up .outline-btn{
    color: #413ef4;
    border-color: #413ef4;
    transform: scale(1); 
}

.sign-up .outline-btn:hover{
    transform : translateY(-5px);
}

#message {
    display: none;
    background: #f1f1f1;
    padding: 20px;
}

#message p{
    text-align: left;
}
  
#message .valid {
    color: green;
}
  
.valid:before {
    margin-right: 10px;
    content: "✔";
}

#message .invalid {
    color: red;
}
  
.invalid:before {
    margin-right: 10px;
    content: "✖";
}